<h1>Hello, {{ title }}</h1>
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'"><app-rooms></app-rooms></div>
  <div *ngSwitchDefault>Please Login or Create an Account</div>
</div> -->

<!-- <div #name></div> -->
<!-- <div> -->
<!-- ng-template wont render itself anything -->
<!-- <ng-template #user></ng-template> -->
<!-- #user is a template reference. You can access user tag in any TS-file using ViewChild -->
<!-- </div> -->

<app-rooms></app-rooms>

<app-container>
  <!-- This will load in the sequence of ng-content  -->
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
  <!-- this works because we have placed ng-content tag in the container-html -->
</app-container>

<router-outlet></router-outlet>
